<div class="conteiner">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th ng-repeat="headline in [
            '','id','name' , 'surname' , 'date of birth' , 'mobile number', 'address(city+street+house number)'
                ]">
                {{headline}}
          </th>
          <th>
            <button type="button" class="btn btn-info btn-sm" ng-checked="selected" ng-click="editSelected()" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit selected</button>
            </th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="user in users">
          <td><input type="checkbox"  ng-checked="selected" ng-click="selected=!selected" ng-model="user.selected">{{user.selected}}</td>
          <td>{{$index}}</td>

          <td><span ng-show="!user.editUser">{{user.name}}</span>
            <input type="text" class="form-control"  ng-show="user.editUser"  ng-model="user.name">
          </td>

          <td><span ng-show="!user.editUser">{{user.surname}}</span>
            <input type="text" class="form-control"  ng-show="user.editUser" ng-model="user.surname">
          </td>

          <td><span ng-show="!user.editUser">{{user.dateOfBirth}}</span>
            <input type="text" class="form-control datepicker" data-date-format="mm/dd/yyyy" ng-show="user.editUser" ng-model="user.dateOfBirth">
          </td>

          <td><span ng-show="!user.editUser">{{user.mobileNumber}}</span>
            <input type="number" class="form-control" ng-show="user.editUser" ng-model="user.mobileNumber">
          </td>

          <td><span ng-show="!user.editUser">{{user.addres}}</span>
            <input type="text" class="form-control"  ng-show="user.editUser" ng-model="user.addres">
          </td>

          <td><button ng-click="user.editUser=! user.editUser"  class="btn btn-info btn-sm" type="button" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
          <button ng-click="deleteUser($index)" class="btn btn-danger btn-sm" type="button">x Delete</button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
